*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
:root{
    --green:#128c41;
    --blue:#aefffe;
    --bg:#06591e;
}
body{
    background-color: #0f4524;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 200px;
    height: 70px;
    background-color:var(--bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 0px 0px ;
    overflow: hidden;
    position: relative;
    z-index: -9;
}
.wrapper::before{
    content: "";
    position: absolute;
    width: 170%;
    height: 70%;
    background-color:var(--blue);
    transform: translateY(-70%);
    z-index: -99;
    animation: anime 2s linear infinite;
}
@keyframes anime{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.wrapper::after{
    content: "";
    position: absolute;
    width: 98%;
    height: 97%;
    background-color:var(--green);
    transform: translateY(-51%);
    z-index: -1;
    border-radius: 10px;
}
.btnBox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: var(--blue);
    transition: 0.3s;
}