*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito";
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080d0e;
}
.container{
    width: 1432px;
    height: 670px;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
    flex-wrap: wrap;
    padding: 3px;
    overflow: hidden;
    position: relative;
}
.container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 350px;
    background: linear-gradient(transparent , rgba(255, 0, 0, 0.452) , transparent);
    z-index: -1;
    transform: translate(-350px);
    animation: up_to_down 5s linear infinite;
}
@keyframes up_to_down {
    0%{
        transform: translateY(-150px);
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(150px);
    }
    75%{
        transform: translateY(100%);
    }
    90%{
        transform: translateY(150%);
    }
    100%{
        transform: translateY(150px);
    }
}
.cube{
    width: 6vw;
    height: 6vw;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid rgb(255, 81, 0);
    border-top: 1px solid rgb(255, 81, 0);
    border-radius: 7px;
    transition: 0.3s;
    background-color: #080d0e;
}
.cube:hover{
    transition: 0.0s !important;
    outline: 2px solid red;
    border: 1px solid red;
    box-shadow: 0px 0px 10px red;
}
